/* body {
  background-color: lightblue;
} */

.main-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3c6f74;
  background-color: aqua;
}
.main-header nav{
  width: 50%;
}

.main-header nav ul{
  display: flex
  ;
      justify-content: space-between;
      align-items: center;
      list-style: none;
}